body {
  padding-top: 50px;
  background-color:white;
}

h1 {
	font-size:48px;
	line-height:48px;
	font-family: 'Ubuntu', sans-serif;
}
h2 {
	font-size:28px;
	text-align:left;
	font-family: 'Ubuntu', sans-serif;
}
.profile {
	margin-top:82px;
	-webkit-box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
}
.lead {
	text-align:left;
}
.buttons {
	margin-top:12px;
	margin-bottom:72px;
	;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.images {
margin-top:14px;
-webkit-box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
box-shadow: 3px -7px 182px -42px rgba(0,0,0,0.75);
}

p {
	margin-top:12px;
	font-family: 'Open Sans', sans-serif;
}

.oneday {
	background-color:white;
    margin-bottom:100px;
   
}
.heading {
	padding-top:62px;

}
.heading p {
	margin-top:32px;
}

footer {
	color:white;
	background-color:#323232;
	
}
.code {
	border: 1px solid #afafaf;
	background-color:#f2f2f2;
	padding-left:10px;
	padding-right:10px;
	padding-top:30px;
	padding-bottom:30px;
}